<div class="container" appNavItem id="root">

  <h3>Горизонтальный список</h3>
  <div class="viewport-images">
    <div class="d-flex flex-nowrap" appNavItem isHorizontal>
      <img appNavItem focusable class="img" width="100" height="150" *ngFor="let item of items" needScroll
           [src]="'https://picsum.photos/100/150?random='+ item" [id]="'img_'+ item">
    </div>
  </div>

  <div class="row" appNavItem isHorizontal>
    <div class="col-6">
      <h3>Вертикальный список</h3>
      <ul class="list" appNavItem>
        <ng-container *ngFor="let n of items">
          <li appNavItem focusable> Элемент №{{n}} </li>
        </ng-container>
      </ul>
    </div>
    <div class="col-6">
      <h3>Вертикальный список 2</h3>
      <ul class="list" appNavItem>
        <ng-container *ngFor="let n of items">
          <li appNavItem focusable> Элемент №{{n}} </li>
        </ng-container>
      </ul>
    </div>
  </div>

  <h3>Вертикальный список</h3>
  <nav aria-label="Page navigation example">
    <ul class="pagination" appNavItem isHorizontal>
      <li class="page-item"><a appNavItem focusable class="page-link">Previous</a></li>
      <li class="page-item"><a appNavItem focusable class="page-link">1</a></li>
      <li class="page-item"><a appNavItem needScroll focusable class="page-link">2</a></li>
      <li class="page-item"><a appNavItem focusable class="page-link">3</a></li>
      <li class="page-item"><a appNavItem focusable class="page-link">Next</a></li>
    </ul>
  </nav>


  <h3>Сетка</h3>
  <div class="row align-items-md-stretch" appNavItem [gridSize]="4">
    <div *ngFor="let item of items"  class="col-3 mb-2">
      <div class="h-100 p-3 text-white bg-dark rounded-3">
        <h2>Text</h2>
        <button appNavItem focusable needScroll class="btn btn-outline-light" type="button" (click)="deleteItem(item)" [id]="'post_'+ item">Удалить {{item}}</button>
      </div>
    </div>
  </div>

</div>


